* {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.card {
    padding: 70px 11px 70px 11px;
    border: none;
    max-width: 600px;
}




/* Navbar START*/

.navbar {
    background-color: #065B7A;
    color: white;
}

.navbar-brand {
    font-family: Shrikhand; 
    font-size: 2.25rem; 
    padding: 0px; margin: 0px;
}

/* Navbar END*/



/* About section START*/

#about {
    background-color:#A4E6EC;
}

#about-section {
    background-color:#A4E6EC;
}

#hero-image {
    border-radius: 5px; 
    width: 85%; 
    max-width: 700px; 
    height: auto; 
    margin-top: 100px;
}

#about-gusandjean {
    font-family: Shrikhand; 
    font-size: 3.4rem; 
    margin-bottom: 0; 
    padding-bottom: 0;
}

#about-acoustic-duo {
    padding: 0 0 20px 0; 
    margin-top: 0;
}

.about-text {
    text-align: justify;
}

#about-logo {
    width: 150px; 
    height: auto;
    padding-top: 20px;
}

#about-booking-button {
    width: 200px; 
    border-radius: 5px; 
    margin-top: 40px;
}
/* About section END */




/* Calendar section START */

#calendar {
    background-color: #F0A59F;
}

#calendar-section {
    background-color: #F0A59F;
    
}

#calendar-title {
    font-size: 2.4rem;
    
}

.month-text {
    padding-top: 40px;
}

.d-flex {
    gap: 0px;
}

.date-container {
    width: 30%; 
    text-align: center;
}

.day-of-the-week {
    margin-bottom: 0;
}

.event-description {
    width: 60%;
    
}

.venue-logo-container { 
    border-radius: 10px; 
    width: 40%;
}

.venue-logo {
    border-radius: 10px;
    width: 100px;
    height: auto;
    object-fit: cover; 
}

.venue-link {
    color: black;
}

.events-divider {
    margin-left: 5%; 
    width: 90%;
}

/* Calendar section END */


#media {
    background-color: #FDFD96;
}

#media-section {
    background-color: #FDFD96;
}

iframe {
    border-radius: 10px; 
    z-index: 1; 
    overflow: hidden; 

}


#contact {
    background-color:#A4E6EC;
}

#contact-section {
    background-color:#A4E6EC;
}

.contact-image {
    
    width: 100%;
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 5px;
    margin-bottom: 10px;
    margin-top: 4px;
}

.contact-containers {
    margin-top: 40px;
}



footer {
   
    background-color: #065B7A;
    color: white;
}



/*these are for the picture gallery*/

.row {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .photos {
    border-radius: 10px;
  }
  
  
  
  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
  

  