* {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


  

.card {
    padding: 70px 11px 70px 11px;
    border: none;
    max-width: 600px;
}



footer {
   
    background-color: #065B7A;
    color: white;
}


#about {
    background-color:#A4E6EC;
}

#about-section {
    background-color:#A4E6EC;
}

#contact {
    background-color:#FDFD96;
}

#contact-section {
    background-color:#FDFD96;
}

#calendar {
    background-color: #F0A59F;
}

#calendar-section {
    background-color: #F0A59F;
}

#media {
    background-color: #FDFD96;
}

#media-section {
    background-color: #FDFD96;
}

.navbar {
    background-color: #065B7A;
    color: white;
}

.d-flex {
    gap: 0px;
}




/*these are for the picture gallery*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  
  
  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
  
  .venue-logo {
    border-radius: 10px;
    width: 100px;
    height: auto;
    object-fit: cover; 
  }

  